.btn {
  border: none;
  font-weight: 500;
  margin-left: 15px;
  padding: 2%;
  width: 90%;
}

.finish-button {
  margin-left: 0px;
}

.form {
  margin-left: 35px;
}

.form-container {
  background-color: rgb(69,89,144, 0.9);
  padding: 20px
}
