input {
  color: white
}

.btn {
  border: none;
  font-weight: 500;
  margin-left: 15px;
  padding: 2%;
  width: 90%;
}

.finish-button {
  margin-left: 0px;
}

.form {
  margin-left: 35px;
}

.form-container {
  background-color: rgb(27,26,44, 0.95);
  padding: 20px
}
